.about__container {
  display: flex;
  height: 100%;
  margin: 0 auto;
  padding-top: calc(2rem + 1vw);
  width: 70vw;

  .about__image {
    position: relative;
    margin-top: 1rem;
    min-width: 40%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
    }
    &:before {
      @include ratio(135%);
      content: ' ';
      display: block;
    }
  }

  .about__description {
    display: flex;
    flex: 2 0 0;
    margin-left: 2rem;
    flex-direction: column;

    p {
      margin: .75rem 0 0;
      line-height: 1.5;
      text-align: justify;
    }

    .about__description--title {
      margin: 0;
    }
  }
}

@media all and (max-width: 768px) {
  .about__container {
    flex-direction: column;
    align-items: center;

    .about__description {
      margin-left: 0;
      margin-top: 2rem;
    }

    .about__description--title {
      text-align: center;
    }
  }
}

@media all and (max-width: 480px) {
  .about__container {
    .about__image {
      min-width: 70%;
    }
  }
}
