.lander {
  .lander__jumbo {
    text-align: center;
    margin: 0 auto;
    margin-top: calc(11rem + 1vw);
  }

  .lander__text {
    text-align: center;
    max-height: 100%;
    width: 80vw;
    margin: 2rem auto 1rem;
  }

  .lander__links {
    max-height: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .lander__button {
    padding: .5rem;
    border-radius: .375rem;
    border-color: transparent;
    margin: 1rem 0;
    cursor: pointer;
  }

  .lander__button--my-works {
    margin-right: 1rem;
  }
}
