.sidenav {
  background: $primary;
  display: none;
  height: calc(100vh - 3rem + .5vmin);
  overflow-x: hidden;
  position: absolute;
  top: calc(3rem + .5vmin);
  transition: left .5s ease-in-out;
  width: 0vw;
  z-index: 3;

  ul {
    display: block;
    min-width: 65vw;
  }

  li {
    padding: 1.5rem;
  }

  a {
    color: #fff;
  }
}

.sidenav--collapsed {
  left: -65vw;
}

.sidenav--open {
  left: 0;
  width: 65vw;
}

@media all and (max-width: 1024px) {
  .sidenav {
    display: block;
  }
}
